*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Courier New', Courier, monospace;
    font-size: 24px;
    color: rgb(9, 9, 12);
    background-color: rgb(163, 169, 197);
    padding: 20px;

}

header{
    background-color: rgb(53, 85, 166);
    color: white;
    padding: 10px 20px;
    text-align: center;
}

nav ul {
    list-style: none;
    background: rgb(152, 179, 152);

}

nav ul li{
    display: inline;
    margin-right: 15px;
}

nav ul li a{
    text-decoration: none;
    color: white;
}

body{
    margin-top: 15px;
}
section{
    margin-top: 20px;
}
section, article, aside{
    margin-top: 20px;
    padding: 15px;
    background: white;
    border: 1px solid #ccc;
}

footer{
    text-align: center;
    padding: 10px, 0;
    background: rgb(51, 51, 51);
    color: white;
}